/* -*-css -*- */
@theme "custom"

window {
    location: southeast;
    anchor:   east;
    transparency: "screenshot";
    width: 25%;
    padding: 10px;
    border:  0px;
    border-radius: 6px;
    x-offset: -2.5%;
    y-offset: -10%;
    spacing: 0;
    children: [mainbox];
}

listview {
    columns: 1;
    lines: 4;
}
