/* -*-css -*- */
@theme "custom"

window {
    location: northwest;
    anchor:   west;
    transparency: "screenshot";
    width: 30%;
    padding: 10px;
    border:  0px;
    border-radius: 6px;
    x-offset: 2%;
    y-offset: 10%;
    spacing: 0;
    children: [mainbox];
}

listview {
    columns: 1;
    lines: 4;
}
